{% extends "base_site.html" %}

{% load i18n profile_tags %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/profiles.css" />
{% endblock%}

{% block bodyclass %}profiles{% endblock %}

{% block content %}

<div class="content-main">
{% userphoto user %}
<div>
	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

	<div class="form-row">
		<input type="file" name="photo"/>
	</div>
	
	
	<div class="submit-row">
		<input type="submit" value="{% trans 'Upload' %}"/>
	</div>
	</form>
</div>
</div>
{% endblock %}