{% extends "base_site.html" %}

{% load i18n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/signup.css" />
{% endblock%}

{% block content %}

<div class="content-main">
	<div class="main">
	<h1>{% trans 'Create a new Account' %}</h1>

	
	{{ form.non_field_errors.as_text }}
	<form action="{% url auth_signup %}" method="post">
		{% csrf_token %}
		{% for field in form %}
		{{ field.label_tag }}
		<span class="error">{{ field.errors.as_text }}</span>		
		{{ field }}
		{% endfor %}		
		
		<div class="submit-row">
		<input type="submit" value="{% trans 'Sing up' %}"/>
		</div>
	</form>


	</div>
</div>

{% endblock %}