#content {
	background: #6699ff;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2) inset;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	position: relative;
	height:600px;
}
.content-menu {
	position: absolute;
	right: 45px;
	top: 25px;
}
.content-menu li {
	list-style: none;
	float: left;
}
.content-menu a {
	display: block;
	width: 100px;
	height: 95px;
	overflow: hidden;
	text-indent: -9999px;
}



#sidebar {
	width: 320px;
	float: right;
	margin: 135px 30px 0 0;
}
#latest-news{
	border-radius: 20px;
	padding:20px 10px 5px 25px;
	background:#fff;
	font-size:18px;
	color:#999;
	width:280px;
	height:130px;
	position:relative;
	z-index:9999;
}
#latest-news h2{
	width:200px;
	position: absolute;
	right: 125px;
	top: -5px;
	background:url('../images/sprites.png')no-repeat 0 -250px;
	overflow: hidden;
	text-indent: -9999px;
}

#latest-news a{
	text-decoration:none;
	color:#999;
}
.date{
	float:right;
}
#latest-album{
	width:340px;
	position:relative;
}
#latest-album h2{
	margin-top:5px;
	background:url('../images/more.png')no-repeat;
	overflow: hidden;
	text-indent: -9999px;
}
#latest-album .morelink a{
	display: block;
	overflow:hidden;
	text-indent:-9999px;
}
#latest-album .morelink{
	height:20px;
	width:90px;
	position: absolute;
	float:right;
	background:url('../images/ic_more.png')no-repeat;
	right: 20px;
	top: 0px;
}
#latest-album .post{
	border-radius: 20px;
	background:#2866B1;
	width:145px;
	height:110px;
}
.album-post{
	z-index:99999px;
	display:inline-block;
	margin-right:20px;
	color:#fff;
}
.album-post a{
	color:#fff;
	text-decoration:none;
}
.album-post .com{
	padding-left:25px;
	padding-top:3px;
	padding-bottom:3px;
}

#content-main{
	background:url('../images/home01.png') no-repeat;
	width:580px;
	height:500px;
	padding:105px 0px 0px 95px;
}
#note{
	/*padding-top:105px;*/
	position:relative;
}
.note-body{
	/*margin-left:95px;*/
	border:#ccc solid 1px;
	width:480px;
	height:360px;
}
#note-like{
	width:225px;
	height:80px;
	position: absolute;
	right: 100px;
	top: 370px;
}
#note-links{
	padding:3px;
	height:38px;
}
.note-description{
	margin-left:18px;
	width:225px;
	height:60px;
}

/* CALENDAR */

.calendar #content {
	height: 780px;
}

.calendar #content-main{
	background: none;
	width: 600px;
	padding: 35px 0 0 20px;
}

.calendar #content-main h1{
	height:40px;
	margin: 0 0 30px 0;
	background:url('../images/titles.png')no-repeat 0 -95px;
	overflow: hidden;
	text-indent: -9999px;
}

.calendar #sidebar {
	width: 200px;
}

.calendar .downloadlink {
	zoom: 1;
	display: inline-block;
	*display: inline;
	width: 250px;
	height: 32px;
	background: url('../images/sprites.png') no-repeat 0 -356px;
	text-indent: -9999px;
	overflow: hidden;
	vertical-align: bottom;
}

.calendar p {
	color: #fff;
	margin: 0 0 5px 0;
}