{% extends "share/index.html" %}

{% load i18n pagination_tags %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/share.css" />
{% endblock%}

{% block bodyclass %}download{% endblock %}

{% block content-main %}

	<h1>檔案下載</h1>
	<p class="intro">
	家長可透過即時影像傳輸功能，了解寶貝在學校的生活點滴。遇戶外教學日上午不開放視訊喔！聯絡電話：(02) 2701-3880</p>
	
	{% autopaginate downloads 8 %}
	<div>
		{% for post in downloads %}
		<a href="{% url share:download post.id %}">
		<div class="post">
			<div class="post-icon">
			<img src="{{ STATIC_URL }}images/icon_folder.png"/>
			</div>
			<div class="title">{{ post.title }}</div>
		</div>
		</a>
		{% endfor %}
	</div>
	
	{% paginate %}
	<div class="search-bar">
		<form action="" method="post">
			<input type="text" name="q" />
			<input type="submit" value="search" />
			<label>‧請輸入欲搜尋的相關文字</label>
		</form>
	</div>
{% endblock %}



