<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Upload</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="en" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.2.js"></script>
	<script type="text/javascript">
	$(function(){
		$("form").bind('submit', function(){
			$(".upload-loading").show();
		});
	
	});
	</script>
</head>
<body>

<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input name="picture" type="file"/>
	<input id="btn-submit" type="submit" value="上傳" /><img class="upload-loading" style="display: none;" src="{{ STATIC_URL }}images/loading.gif"/>
</form>
</body>
</html>