

#content {
	margin: 0 0 0 150px;
}


#menu {
	width: 150px;
	font-size: 15px;
	float: left;
}

#menu h3 {
	padding: 5px 16px;
	color: #DD4B39;
}

#menu li {
	padding: 5px 16px;
}

#menu li:hover {
	background: #eee;
}

#menu a {
	text-decoration: none;
	color: #000;
}

